__pycache__/*
.env
venv/
.venv/
.vscode/


**/in
**/out
**/bin
**/solution-in
**/prompt-in
**/model-out

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
